@import "tailwindcss";

:root, :host {
  --font-inter: 'Inter' !important;
  --default-font-family: 'Inter' !important;
}

html, body {
  font-family: var(--font-inter) !important;

}

@layer utilities {
  .font-inter {
    font-family: var(--font-inter);
  }
}
